*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pt-16{
    display: flex;
    align-items:flex-end;
    padding-bottom: 1rem;
    padding-top: 19rem;
}

img{
    width:100%;
}

/* header */
header svg{
    height: 73px;
    margin-top: -20px;
    margin-bottom: -20px;
}

/* nav */
.my-sticky{
    position: sticky;
    top: 0;
    padding: 0.1rem;
}

nav svg{
    width: 0.75rem;
}

.lens {
    width: 1.7rem;
    height: 2rem;
}

/* jumbotron */
.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.returnal{
    margin-left: -6px;
}

/* section 1, game list */
.border-rad{
    border-radius: 20px;
    padding: 0.2rem;
}

.bord-select{
    border-radius: 20px;
    border: 2px solid #0070d1;
}

/* section 2, playstation 5 */
.bord-bl{
    border-bottom: 3px solid #0070d1;

}

/* section 3, it takes two */
.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* section 4, new release */
.bg-dark-grey{
    background-color: #1f1f1f;
}

/* section 5, explore PS4 */

/* section 6, playstation plus */
.bg-grey{
    background-color: #bebcbb;
}

.resize{
    height: 12%;
    width:60%;
}

/* section 7, playstore's new discount */

/* section 8, playstation now */
.bg-blue{
    background-color: #161c3b;
}

/* section 9, social media */
.px-9{
    max-width: 850px;
    margin: auto;
}

/* footer */
footer{
    background-color: #00439c;
}

footer li {
    list-style: none;
    color: white;
}

.mid-svg{
    width: 10rem;
}

.small-svg{
    width: 1rem;
    margin-top: -3.5px;
}